<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/92928bcf15.js" crossorigin="anonymous"></script>
    <title>home</title>
</head>
<body class="home">
    <header>
       <img class="header_logo" src="/images/logo.jpg" alt="">
        <button class="header__burger">
            <i class="fas fa-bars"></i>
        </button>
        <nav class="header__menu">
            <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Quienes</a></li>
            <li><a href="">Servicios</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Sucursales</a></li>
            <li><a href="">Contacto</a></li>
            </ul>
        </nav>
        
    </header>

    <main>
        <section class="home__box-banner">
            <img src="/images/img-banner.jpg" alt="Banner">
        </section>
        <section class="home__box-products">
            <article class="home__product">
                <div class="home__product__box-image">
                <img class="home__product_image" src="/images/img-pdto-1.jpg" alt="imagen producto">
                <img class="home__product__sticker" src="/images/img-descuento.png" alt="sticker-descuento">
                <a href="" class="home__product__box__zoom">Ampliar Foto</a>
            </div>
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptas saepe aspernatur deleniti quia sint!</p>
            <a href="#" class="home__product__more">ver más</a>
            </article>

            <article class="home__product">
                <div class="home__product__box-image">
                <img class="home__product_image" src="/images/img-pdto-2.jpg" alt="imagen producto">
                <img class="home__product__sticker" src="/images/img-gratis.png" alt="sticker-gratis">
                <a href=""class="home__product__box__zoom" >Ampliar Foto</a>
            </div>
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptas saepe aspernatur deleniti quia sint!</p>
            <a href="#" class="home__product__more">ver más</a>
            </article>

            <article class="home__product">
                <div class="home__product__box-image">
                <img class="home__product_image" src="/images/img-pdto-3.jpg" alt="imagen producto">
                <img class="home__product__sticker" src="/images/img-nuevo.png" alt="sticker-descuento">
                <a href="" class="home__product__box__zoom">Ampliar Foto</a>
            </div>
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptas saepe aspernatur deleniti quia sint!</p>
            <a href="#" class="home__product__more">ver más</a>
            </article>
            
            <article class="home__product">
            <div class="home__product__box-image">
                <img class="home__product_image" src="/images/img-pdto-1.jpg" alt="imagen producto">
                <img class="home__product__sticker" src="/images/img-descuento.png" alt="sticker-descuento">
                <a href="" class="home__product__box__zoom">Ampliar Foto</a>
            </div>
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptas saepe aspernatur deleniti quia sint!</p>
            <a href="#">ver más</a>
           </article>

            <article class="home__product">
                <div class="home__product__box-image">
                <img class="home__product_image" src="/images/img-pdto-2.jpg" alt="imagen producto">
                <img class="home__product__sticker" src="/images/img-gratis.png" alt="sticker-gratis">
                <a href="" class="home__product__box__zoom">Ampliar Foto</a>
            </div>
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptas saepe aspernatur deleniti quia sint!</p>
            <a href="#" class="home__product__more">ver más</a>
            </article>
            
            <article class="home__product">
                <div class="home__product__box-image">
                <img class="home__product_image" src="/images/img-pdto-3.jpg" alt="imagen producto">
                <img class="home__product__sticker" src="/images/img-nuevo.png" alt="sticker-descuento">
                <a href="" class="home__product__box__zoom">Ampliar Foto</a>
            </div>
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse voluptas saepe aspernatur deleniti quia sint!</p>
            <a href="#" class="home__product__more">ver más</a>
            </article>
        </section>
    </main>

    <footer>
        <nav class="footer__menu">
            <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Quienes</a></li>
            <li><a href="">Servicios</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Sucursales</a></li>
            <li><a href="">Contacto</a></li>
         </ul>
        </nav>
    </footer>
    
</body>
</html>